<%= render 'shared/page_title', title: "Create a new recipe" %>

<% if @recipe.errors.any? %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= pluralize(@recipe.errors.count, "error") %>
          prohibited this <%= @recipe.class %> from being saved:
        </h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    
<%= form_for @recipe, html: {class: 'form-horizontal', role: 'form'} do |f| %>

    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :name %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :description %>
      </div>
      <div class="col-md-8">
        <%= f.text_area :description, class: "form-control", rows: "10", placeholder: "Enter steps to create recipe" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    
<% end %>

    <div class="col-md-4 col-md-offset-4">
      [ <%= link_to "Cancel request and return to recipes listing", recipes_path %> ]
    </div>
  </div>
</div>
